<header class="dd-header">
  <div class="dd-alert -compact">
    <div class="dd-g">
      <div class="dd-u-1-1">
        <div class="dd-alert__copy l-box">ipsum banner copy goes here</div>
      </div>
    </div>
  </div>
  <div class="dd-header__top">
    <div class="dd-g -y-center">
      <div class="dd-header__logo dd-u-18-24 dd-u-sm-18-24 dd-u-md-18-24 dd-u-lg-2-24">
        <a href="#" hx-get="/pages/home.html" hx-target="main" hx-swap="innterHTML">
          <picture>
            <source srcset="/assets/imgs/logo-full-white-text.svg" media="(prefers-color-scheme: dark)">
            <img src="/assets/imgs/logo-full-black-text.svg" alt="logo" class="dd-img">
          </picture>
        </a>
      </div>
      <div class="dd-header__navigation navigation -main-menu dd-u-1-1 dd-u-sm-1-1 dd-u-md-1-1 dd-u-lg-18-24 -y-center">
        <nav itemscope itemtype="https://schema.org/SiteNavigationElement" aria-label="header navigation">
          <button class="dd-menu__close fa-regular fa-times"><span class="visually-hidden">Menu</span></button>
          <ul class="menu">
            <li class="menu-item menu-item-has-children">
              <a href="#">First Menu</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Second Menu</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Third Menu</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">Fourth Menu</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="navigation__link">Link</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="dd-header__search-icon dd-u-3-24 dd-u-sm-3-24 dd-u-md-3-24 dd-u-lg-4-24 -y-center -x-center">
        <button class="dd-search__toggle fa-regular fa-magnifying-glass"><span class="visually-hidden">Search</span></button>
      </div>
      <div class="dd-header__menu-icon dd-u-3-24 dd-u-sm-3-24 dd-u-md-3-24 -y-center -x-center">
        <button class="dd-menu__toggle fa-regular fa-bars"><span class="visually-hidden">Menu</span></button>
      </div>
    </div>
  </div>
  <div class="dd-search">
    <button class="dd-search__close">- search</button>
    <form action="">
      <label for="name">Search<br />
        <input type="text" id="name">
      </label>
    </form>
  </div>
</header>
