<div class="dd-alert" role="alert" data-aos="fade-in">
  <div class="dd-alert__content dd-g">
    <div class="dd-u-1-1">
      <div class="l-box">
        <div class="dd-alert__heading">
          Default Alert
        </div>
        <div class="dd-alert__text">
          Lorem ipsum dolor sit amet, <a href="#">link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dd-spacer -xxl -divider"></div>

<div class="dd-alert -info" role="alert" data-aos="fade-in">
  <div class="dd-alert__content dd-g">
    <div class="dd-u-1-1">
      <div class="l-box">
        <div class="dd-alert__heading">
          Info Alert
        </div>
        <div class="dd-alert__text">
          Lorem ipsum dolor sit amet, <a href="#">link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dd-spacer -xxl -divider"></div>

<div class="dd-alert -success" role="alert" data-aos="fade-in">
  <div class="dd-alert__content dd-g">
    <div class="dd-u-1-1">
      <div class="l-box">
        <div class="dd-alert__heading">
          Success Alert
        </div>
        <div class="dd-alert__text">
          Lorem ipsum dolor sit amet, <a href="#">link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dd-spacer -xxl -divider"></div>

<div class="dd-alert -warning" role="alert" data-aos="fade-in">
  <div class="dd-alert__content dd-g">
    <div class="dd-u-1-1">
      <div class="l-box">
        <div class="dd-alert__heading">
          Warning Alert
        </div>
        <div class="dd-alert__text">
          Lorem ipsum dolor sit amet, <a href="#">link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dd-spacer -xxl -divider"></div>

<div class="dd-alert -error" role="alert" data-aos="fade-in">
  <div class="dd-alert__content dd-g">
    <div class="dd-u-1-1">
      <div class="l-box">
        <div class="dd-alert__heading">
          Error Alert
        </div>
        <div class="dd-alert__text">
          Lorem ipsum dolor sit amet, <a href="#">link</a>
        </div>
      </div>
    </div>
  </div>
</div>
