@use "../partials/mixins";
@use "../partials/variables";

html {
  @include mixins.position_relative();
}

body {
  @include mixins.position_relative();
  @include mixins.font_base();
  @include mixins.font_size(16px);
  box-sizing: border-box;
  color: variables.$c_text_primary;
  line-height: 160%;
  @include mixins.mq(lg) {
    @include mixins.font_size(18px);
  }
}

html,
body {
  background-color: variables.$c_ui_neutral_100;
}
