<h1>Footer large</h1>
<div class="dd-section">
  <div class="dd-section__content">
    <div class="dd-section__items dd-g">
      <div class="dd-section__item dd-u-1-1">
        <h2>Overview</h2>
        <p>This footer variant supports multi-level navigation menus, a newsletter signup form, company info (including logo, address, phone, and email), social media links, and a copyright section.</p>
        <div class="dd-tabs" data-id="001">
          <div class="dd-tabs__content dd-g">
            <ul class="dd-tabs__menu dd-g" role="tablist">
              <li class="dd-tabs__menu-item" role="presentation">
                <a
                  href="#tab-001"
                  class="dd-tabs__menu-link -active"
                  id="tab-001"
                  aria-selected="true"
                  aria-controls="tabpanel-001"
                  hx-trigger="click once"
                  hx-get="/templates/layouts/dd-footer-large.html"
                  hx-on::after-request="escape_code_block()"
                  hx-target="#view_code"
                  >Code</a
                >
              </li>
              <li class="dd-tabs__menu-item" role="presentation">
                <a
                  href="#tab-002"
                  class="dd-tabs__menu-link"
                  id="tab-002"
                  aria-selected="false"
                  aria-controls="tabpanel-002"
                  hx-trigger="click once"
                  hx-get="/templates/layouts/dd-footer-large.html"
                  hx-target="#preview_code"
                  >Preview</a
                >
              </li>
            </ul>
            <div class="dd-tabs__items dd-g">
              <div
                class="dd-tabs__item dd-u-1-1 -active"
                id="tabpanel-001"
                role="tabpanel"
                aria-hidden="false"
                aria-labelledby="tab-001"
              >
                <pre>
                <code id="view_code">
                </code>
                </pre>
              </div>
              <div
                class="dd-tabs__item dd-u-1-1"
                id="tabpanel-002"
                role="tabpanel"
                aria-hidden="false"
                aria-labelledby="tab-002"
              >
                <div id="preview_code"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
