<h1>Forms</h1>
<div class="dd-section -full">
  <div class="dd-section__content -contained">
    <div class="dd-section__items dd-g">
      <div class="dd-section__item dd-u-1-1 l-box">
        <h2>Overview</h2>
        <p>The following shows all form elements with their default styles.</p>
        <div class="dd-tabs" data-id="001">
          <div class="dd-tabs__content dd-g">
            <ul class="dd-tabs__menu dd-g">
              <li class="dd-tabs__menu-item">
                <a
                  href="#tab-001"
                  class="dd-tabs__menu-link -active"
                  id="tab-001"
                  aria-selected="true"
                  aria-controls="tabpanel-001"
                  hx-trigger="click"
                  hx-get="/templates/elements/dd-forms.html"
                  hx-target="#view_code"
                  >Code</a
                >
              </li>
              <li class="dd-tabs__menu-item">
                <a
                  href="#tab-002"
                  class="dd-tabs__menu-link"
                  id="tab-002"
                  aria-selected="false"
                  aria-controls="tabpanel-002"
                  hx-trigger="click"
                  hx-get="/templates/elements/dd-forms.html"
                  hx-target="#preview_code"
                  >Preview</a
                >
              </li>
            </ul>
            <div class="dd-tabs__items dd-g">
              <div
                class="dd-tabs__item dd-u-1-1 -active"
                id="tabpanel-001"
                aria-hidden="false"
                aria-labelledby="tab-001"
              >
                <pre>
                <code id="view_code">
                </code>
                </pre>
              </div>
              <div
                class="dd-tabs__item dd-u-1-1"
                id="tabpanel-002"
                aria-hidden="false"
                aria-labelledby="tab-002"
              >
                <div id="preview_code"></div>
              </div>
            </div>
          </div>
        </div>

        <h2>Framework files</h2>
        <ul>
          <li>source/scss/elements/_forms.scss (styles)</li>
        </ul>
      </div>

    </div>
  </div>
</div>
