<h1>Slider Component Breakdown</h1>
<div class="dd-section -full">
  <div class="dd-section__content -contained">
    <div class="dd-section__items dd-g">
      <div class="dd-section__item dd-u-1-1 l-box">
        <h2>Overview</h2>
        <p>
          The dd-slider component provides a responsive carousel for images and copy with previous and next buttons as wells and dot navigation.
        </p>
        <p>
          This component is ideal for when space is limited but there are several items to be displayed. Mostly used for images with possible copy block for descriptions or CTA functionality.
        </p>
        <h2>Basic Usage</h2>
        <p>
         Wrap slide items in a div with class <em>dd-slider</em>.
        </p>

        <div class="dd-tabs" data-id="001">
          <div class="dd-tabs__content dd-g">
            <ul class="dd-tabs__menu dd-g" role="tablist">
              <li class="dd-tabs__menu-item" role="presentation">
                <a
                  href="#tab-001"
                  class="dd-tabs__menu-link -active"
                  id="tab-001"
                  aria-selected="true"
                  aria-controls="tabpanel-001"
                  hx-trigger="click once"
                  hx-get="/templates/components/dd-slider.html"
                  hx-on::after-request="escape_code_block()"
                  hx-target="#view_code"
                  >Code</a
                >
              </li>
              <li class="dd-tabs__menu-item" role="presentation">
                <a
                  href="#tab-002"
                  class="dd-tabs__menu-link"
                  id="tab-002"
                  aria-selected="false"
                  aria-controls="tabpanel-002"
                  hx-trigger="click once"
                  hx-get="/templates/components/dd-slider.html"
                  hx-target="#preview_code"
                  >Preview</a
                >
              </li>
            </ul>
            <div class="dd-tabs__items dd-g">
              <div
                class="dd-tabs__item dd-u-1-1 -active"
                id="tabpanel-001"
                role="tabpanel"
                aria-hidden="false"
                aria-labelledby="tab-001"
              >
                <pre>
                  <code id="view_code">
                  </code>
                </pre>
              </div>
              <div
                class="dd-tabs__item dd-u-1-1"
                id="tabpanel-002"
                role="tabpanel"
                aria-hidden="false"
                aria-labelledby="tab-002"
              >
                <div id="preview_code"></div>
              </div>
            </div>
          </div>
        </div>

        <h2>Framework files</h2>
        <ul>
          <li>source/js/components/_dd_slider.js (styles)</li>
          <li>source/scss/components/_dd_slider.scss (styles)</li>
        </ul>
        <p>
          For ACF/Paragraphs integration, use conditional fields to apply
          modifiers dynamically.
        </p>
        <h2>Accessibility and Best Practices</h2>
        <p>
          Ensure
          backgrounds provide sufficient contrast. Nest semantic elements
          inside. Test landmark navigation with screen readers. In CMS, make
          titles optional but encouraged.
        </p>
      </div>
    </div>
  </div>
</div>
