@use "../partials/mixins";
@use "../partials/variables";

.dd-film_strip {
  $p: &;
  @include mixins.position_relative();
  overflow: hidden;
  &__title {
    text-align: center;
  }
  &__items {
    flex-direction: row;
    position: relative;
  }
  &__item {
    // todo
  }
  &__image {
    width: auto;
    & img {
      width: 100%;
      height: auto;
    }
  }

  // Grid specific styles
  &__items.-grid {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    & .dd-film_strip__item {
      padding: 1rem;
      position: relative;
      @include mixins.mq(lg) {
        &:nth-child(2) {
          margin-top: 20px;
        }
        &:nth-child(even) {
          height: 419px;
          overflow: hidden;
          margin-bottom: 15px;
        }
      }
      #{$p}__image {
        //
      }
      #{$p}__copy {
        position: absolute;
        bottom: 50px;
        width: 80%;
      }
      #{$p}__title {
        @include mixins.font_base(fg_demi);
        @include mixins.font_size(20px);
        line-height: 30px;
        padding: 16px 6px 12px;
        text-align: left;
        white-space: normal;
      }
    }
  }

  // Amimation specific styles
  &__items.-scroll-left,
  &__items.-scroll-right {
    flex-wrap: nowrap;
    gap: 60px;
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
    &.-scroll-left,
    &.-scroll-right {
      &:hover {
        animation-play-state: paused;
      }
      #{$p}__item {
        flex: 0 0 auto;
        display: inline-block;
        width: fit-content;
      }
      #{$p}__image {
        width: fit-content;
        & img {
          width: 144px;
          height: auto;
        }
      }
    }
    &.-scroll-left {
      animation: scroll-left 40s linear infinite;
    }
    &.-scroll-right {
      animation: scroll-right 40s linear infinite;
    }
  }
}
@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes scroll-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(50%); }
}
