@use "../partials/mixins";
@use "../partials/variables";

.dd-header {
  z-index: 200;
  &__logo {
    & img {
      width: 100%;
      height: auto;
      max-width: 85px;
    }
  }
  &__menu-icon {
    display: block;
    @include mixins.mq(lg) {
      display: none;
    }
  }
}
