<div class="dd-filmstrip">
  <ul class="dd-filmstrip__content">
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>1</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>2</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>3</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>4</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>5</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>6</figure>
    </li>
  </ul>

  <ul aria-hidden="true" class="dd-filmstrip__content">
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>1</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>2</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>3</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>4</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>5</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>6</figure>
    </li>
  </ul>
</div>

<div class="spacer -divider"></div>

<div class="dd-filmstrip -reverse">
  <ul class="dd-filmstrip__content">
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>1</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>2</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>3</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>4</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>5</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>6</figure>
    </li>
  </ul>

  <ul aria-hidden="true" class="dd-filmstrip__content">
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>1</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>2</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>3</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>4</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>5</figure>
    </li>
    <li>
      <img src="/assets/imgs/logo-box-solid.svg" alt="ldnddev, LLC. logo" />
      <figure>6</figure>
    </li>
  </ul>
</div>
