<div class="dd-milestones">
  <div class="dd-milestones__content">
    <div class="dd-milestones__items dd-g"><!-- milestones loop inside items -->

      <div class="dd-milestones__item dd-u-12-24 dd-u-sm-12-24 dd-u-md-12-24 dd-u-lg-8-24 l-box" data-aos="fade-up">
        <div class="dd-milestones__body l-box">
          <div class="dd-milestones__percentage" data-number="70"><span class="number">70</span>%</div>
          <div>
            <div class="dd-milestones__title"><h2>Title</h2></div>
            <div class="dd-milestones__subtitle"><strong>Subtitle</strong></div>
            <div class="dd-milestones__copy">Lorem ipsum dolor sit amet</div>
            <div class="dd-milestones__link"><a href="#" class="dd-button">Link</a></div>
          </div>
        </div>
      </div>

      <div class="dd-milestones__item dd-u-12-24 dd-u-sm-12-24 dd-u-md-12-24 dd-u-lg-8-24 l-box" data-aos="fade-up">
        <div class="dd-milestones__body l-box">
          <div class="dd-milestones__percentage" data-number="80"><span class="number">70</span>%</div>
          <div>
            <div class="dd-milestones__title"><h2>Title</h2></div>
            <div class="dd-milestones__subtitle"><strong>Subtitle</strong></div>
            <div class="dd-milestones__copy">Lorem ipsum dolor sit amet</div>
            <div class="dd-milestones__link"><a href="#" class="dd-button">Link</a></div>
          </div>
        </div>
      </div>

      <div class="dd-milestones__item dd-u-12-24 dd-u-sm-12-24 dd-u-md-12-24 dd-u-lg-8-24 l-box" data-aos="fade-up">
        <div class="dd-milestones__body l-box">
          <div class="dd-milestones__percentage" data-number="90"><span class="number">70</span>%</div>
          <div>
            <div class="dd-milestones__title"><h2>Title</h2></div>
            <div class="dd-milestones__subtitle"><strong>Subtitle</strong></div>
            <div class="dd-milestones__copy">Lorem ipsum dolor sit amet</div>
            <div class="dd-milestones__link"><a href="#" class="dd-button">Link</a></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
