<section class="dd-section -full-contained">
  <div class="dd-section__content">
    <div class="dd-section__title l-box">Section "contained" with max width set</div>
    <div class="dd-section__items dd-g">
      <div class="dd-section__item dd-u-1-1 dd-u-lg-8-24 l-box">
        <!-- component go here-->
        Section Item goes here. This item can be any of the other components.
      </div>
      <div class="dd-section__item dd-u-1-1 dd-u-lg-8-24 l-box">
        <!-- component go here-->
        Section Item goes here. This item can be any of the other components.
      </div>
      <div class="dd-section__item dd-u-1-1 dd-u-lg-8-24 l-box">
        <!-- component go here-->
        Section Item goes here. This item can be any of the other components.
      </div>
    </div>
  </div>
</section>
