<div class="dd-tabs" data-id="003">
  <div class="dd-tabs__content dd-g">
    <ul class="dd-tabs__menu dd-g" role="tablist">
      <li class="dd-tabs__menu-item" role="presentation">
        <a  class="dd-tabs__menu-link -active" id="tab-001" role="tab" aria-selected="true" aria-controls="tabpanel-001">open tab 1</a>
      </li>
      <li class="dd-tabs__menu-item" role="presentation">
        <a href="#tab-002" class="dd-tabs__menu-link" id="tab-002" role="tab" aria-selected="false" aria-controls="tabpanel-002">open tab 2</a>
      </li>
      <li class="dd-tabs__menu-item" role="presentation">
        <a href="#tab-003" class="dd-tabs__menu-link" id="tab-003" role="tab" aria-selected="false" aria-controls="tabpanel-003">open tab 3</a>
      </li>
    </ul>
    <div class="dd-tabs__items dd-g">
      <div class="dd-tabs__item dd-u-1-1 -active" role="tabpanel" id="tabpanel-001" aria-hidden="false" aria-labelledby="tab-001">
        <p>tab panel 001</p>
      </div>
      <div class="dd-tabs__item dd-u-1-1" role="tabpanel" id="tabpanel-002" aria-hidden="false" aria-labelledby="tab-002">
        <p>tab panel 002</p>
      </div>
      <div class="dd-tabs__item dd-u-1-1" role="tabpanel" id="tabpanel-003" aria-hidden="false" aria-labelledby="tab-003">
        <p>tab panel 003</p>
      </div>
    </div>
  </div>
</div>
