<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="">
    <meta name="author" content="ldnddev">
    <title>dd-Framework</title>
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>

  <body class="dd-g" id="page_top">
    <header class="dd-header dd-u-1-1">
      <div class="dd-header__top">
        <div class="dd-g">
          <div class="dd-header__logo dd-u-1-1">
            <a href="#" hx-get="/pages/home.html" hx-target="main" hx-swap="innterHTML">
              <picture>
                <source srcset="/assets/imgs/logo-full-white-text.svg" media="(prefers-color-scheme: dark)">
                <img src="/assets/imgs/logo-full-black-text.svg" alt="logo" class="dd-img">
              </picture>
            </a>
          </div>
          <div class="dd-header__menu-icon dd-u-2-24 dd-u-sm-2-24 dd-u-md-2-24 -y-center -x-center">
            <button class="dd-menu__toggle fa-regular fa-bars"><span class="visually-hidden">Menu</span></button>
          </div>
        </div>
      </div>
    </header>
    <aside class="dd-section__item dd-u-1-1 dd-u-lg-4-24 l-box">
      <div class="dd-header__navigation navigation dd-u-1-1">
        <nav itemscope itemtype="https://schema.org/SiteNavigationElement" aria-label="header navigation">
          <ul class="menu -no-style" role="menubar">
            <li class="menu-item" role="none">
              <button class="menu__link" role="menuitem" tabindex="0" hx-get="/pages/home.html" hx-target="main" hx-swap="innerHTML">Home</button>
            </li>

            <!-- Components -->
             <li class="menu-item" role="none">
            <div class="dd-accordion">
              <div class="dd-accordion__items">
                <details class="dd-accordion__item">
                  <summary class="dd-g -y-center">
                    <div class="dd-accordion__title dd-u-20-24">Components</div>
                    <div class="dd-accordion__open-close dd-u-4-24 -text-right">
                      <i class="opened far fa-regular far fa-expand"></i>
                      <i class="closed far fa-regular far fa-compress"></i>
                    </div>
                  </summary>
                  <div class="dd-accordion__copy">
                    <ul class="sub-menu -no-style" role="menu">
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-accordion.html" hx-target="main" hx-swap="innerHTML">Accordion</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-accordion-custom.html" hx-target="main" hx-swap="innerHTML">Accordion -Custom</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span hx-on::after-request="dd_is_visible()" class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-alternating.html" hx-target="main" hx-swap="innerHTML">alternating</a>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-alert.html" hx-target="main" hx-swap="innerHTML">Alert</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-alert-error.html" hx-target="main" hx-swap="innerHTML">Alert -Error</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-alert-info.html" hx-target="main" hx-swap="innerHTML">Alert -Info</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-alert-success.html" hx-target="main" hx-swap="innerHTML">Alert -Success</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-alert-warning.html" hx-target="main" hx-swap="innerHTML">Alert -Warning</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-banner.html" hx-target="main" hx-swap="innerHTML">Banner</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-card.html" hx-target="main" hx-swap="innerHTML">Card</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-card-reveal.html" hx-target="main" hx-swap="innerHTML">Card -Reveal</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-cta.html" hx-target="main" hx-swap="innerHTML">cta</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-hero.html" hx-target="main" hx-swap="innerHTML">hero</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-section.html" hx-target="main" hx-swap="innerHTML">Section</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-tabs.html" hx-target="main" hx-swap="innerHTML">Tabs</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-milestones.html" hx-target="main" hx-swap="innerHTML">milestones</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-blockquote.html" hx-target="main" hx-swap="innerHTML">blockquote</span>
                      </li>
                    </ul>
                  </div>
                </details>
              </div>
            </div>
             </li>

            <!-- Layouts -->
             <li class="menu-item" role="none">
            <div class="dd-accordion">
              <div class="dd-accordion__items">
                <details class="dd-accordion__item">
                  <summary class="dd-g -y-center">
                    <div class="dd-accordion__title dd-u-20-24">layouts</div>
                    <div class="dd-accordion__open-close dd-u-4-24 -text-right">
                      <i class="opened far fa-regular far fa-expand"></i>
                      <i class="closed far fa-regular far fa-compress"></i>
                    </div>
                  </summary>
                  <div class="dd-accordion__copy">
                    <ul class="sub-menu -no-style" role="menu">
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-footer-large.html" hx-target="main" hx-swap="innerHTML">Footer Large</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-footer-medium.html" hx-target="main" hx-swap="innerHTML">Footer Medium</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-footer-small.html" hx-target="main" hx-swap="innerHTML">Footer Small</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-footer-001.html" hx-target="main" hx-swap="innerHTML">Footer 001</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-header-a.html" hx-target="main" hx-swap="innerHTML">Header A</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-header-b.html" hx-target="main" hx-swap="innerHTML">Header B</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-grid.html" hx-target="main" hx-swap="innerHTML">Grid</span>
                      </li>
                    </ul>
                  </div>
                </details>
              </div>
            </div>
             </li>

            <!-- Elements -->
             <li class="menu-item" role="none">
            <div class="dd-accordion">
              <div class="dd-accordion__items">
                <details class="dd-accordion__item">
                  <summary class="dd-g -y-center">
                    <div class="dd-accordion__title dd-u-20-24">Elements</div>
                    <div class="dd-accordion__open-close dd-u-4-24 -text-right">
                      <i class="opened far fa-regular far fa-expand"></i>
                      <i class="closed far fa-regular far fa-compress"></i>
                    </div>
                  </summary>
                  <div class="dd-accordion__copy">
                    <ul class="sub-menu -no-style" role="menu">
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-buttons.html" hx-target="main" hx-swap="innerHTML">Buttons</span>
                      </li>
                      <li class="menu-item" role="none">
                        <span class="menu__link" role="menuitem" tabindex="-1" hx-get="/pages/dd-forms.html" hx-target="main" hx-swap="innerHTML">Forms</span>
                      </li>
                    </ul>
                  </div>
                </details>
              </div>
            </div>
             </li>

          </ul>
        </nav>
      </div>
    </aside>
    <main class="dd-u-1-1 dd-u-lg-20-24">
      <div class="dd-section -full">
        <div class="dd-section__content -contained">
          <div class="dd-section__items dd-g">
            <div id="content" class="dd-section__item dd-u-1-1 l-box">

              <h1>Error page</h1>



            </div>
          </div>
        </div>
      </div>
    </main>

<div class="dd-scrolltop">
  <div class="dd-scrolltop__link">
    <a href="#page_top" title="Click to scroll to the top of the page."><i class="fa-solid fa-chevrons-up"></i></a>
  </div>
</div>

    <footer class="dd-footer dd-u-1-1">
      <div class="dd-g">
        <div class="dd-footer__copyright dd-u-1-1">
          <div class="l-box">
            © 2025 ldnddev, LLC
          </div>
        </div>
      </div>
    </footer>

    <script src="/assets/vendors/axe/axe.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous" defer></script>
    <script src="/assets/js/main.js" defer></script>
    <script src="/assets/vendors/axe/dd-axe.js" defer></script>

  </body>
</html>
